* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(94, 115, 139), rgb(2, 19, 37));
}

h1 {
  padding: 10px;
  color: white;
  font-weight: 900;
}

main {
  display: flex;
}

img {
  height: 60px;
  width: 60px;
}

.search-header {
  margin: 15px 15px 15px 25px;
  font-weight: 700;
}

.input-field {
  width: 90%;
  margin: 0 5%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 28px;
}

.button-container {
  padding: 15px 0 0 0;
  border-top: 2px solid black;
}

.search-btn {
  width: 90%;
  padding: 10px;
  margin: 5%;
  background-color: rgb(29, 122, 209);
  color: white;
  border-radius: 5px;
  border: none;
}

.searched-city-button {
  padding: 8px;
  margin: 10px 5% 0 5%;
  width: 90%;
  border-radius: 7px;
  background-color: rgb(148, 152, 167);
  color: black;
  border: none;
}

.weather-bar {
  margin: 20px;
}

.current-weather {
  padding: 10px 20px;
  border: 2px solid black;
  width: 100%;
}

.current-header {
  display: inline;
  font-weight: bold;
}

.safe {
  width: auto;
  border-radius: 7px;
  background-color: green;
  color: white;
  padding: 10px;
}

.moderate {
  width: auto;
  border-radius: 7px;
  background-color: gold;
  color: white;
  padding: 10px;
}

.severe {
  width: auto;
  border-radius: 7px;
  background-color: red;
  color: white;
  padding: 10px;
}

h3 {
  display: block;
  width: 100%;
  padding: 10px 0px;
}

.forecast-day {
  margin: 15px;
  padding-left: 20px;
  background-color: rgb(39, 54, 71);
  color: white;
  padding: 10px;
}

.forecast-header {
  display: inline;
  font-size: 28px;
}

h4 {
  font-weight: bold;
}